@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .9rem;
}

html {font-size: 16px;}

.container {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	flex-wrap: wrap;
	flex-direction: column;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

p {line-height: .5em;}

/*The widths are in a percentage!*/
header {width: 100%;}

header h1 {
	text-align: center;
	margin: 10px;
	padding: 38px 0;
	border-bottom: 3px solid #77a466;
}

header h1 span {color: #77a466;}

header nav {
	text-align: center;
	line-height: 2em;
	max-width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

header nav ul {padding: 0;}

header nav ul li {
	list-style: none;
	text-transform: uppercase;
	font-weight: 700;	
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
	flex-wrap: wrap;
}

.main-image {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.main-image img {
	width: 100%;
	border: 3px solid #77a466;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-title h3 {
	text-align: left;
	color: #77a466;
	text-align: left;
}

.main-title p {
	font-size: 1em;
	line-height: 1.5em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;	
}

.menu {
	list-style: none;
	padding: 0;	
}

.menu li {
	color:#77a466;
	line-height: 2em;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.5em;
}

.address {
	font-size:1em;
	line-height: 2em;
}

/*The widths are in a percentage!*/
footer {
	width: 100%;
	border-top: 3px solid #eee;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .8em;
}

/* ===== breakpoints ===== */

/* - - - - TABLET - - - - */

@media all and (min-width: 768px) {
	
	body {
		font-size: .9rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	p {
		padding: 0 30px;
	}
	
	.top-section,
	.bottom-section {
		padding: 16px;
		margin: auto;
		align-items: stretch;	
	}

	.menu li {padding: 10px 0;}

	.main-title p {padding: 0;}

	.section-one h4 {
		padding: 10px 0;
		height: auto;
	}
	
	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	
	.section-two h4,
	.section-three h4 {
		padding: 10px 30px;
	
	}	
	.section-one,
	.section-two,
	.section-three {width: 33%;}
}

/* - - - - DESKTOP - - - - */

@media all and (min-width: 1200px) {
	.container {max-width: 1200px;}
	
	p {padding: 0 30px;}

	body {font-size: 1.1rem;}

	header nav {
		flex-direction: row;
		margin-top: 35px;
	}
	
	header nav ul li {
		font-size: 1em;
		padding: 0 10px;
		display: inline;
		text-align: center;
	}
		
	header h1 {border: none;}
		
	.section-one h4 {padding: 10px 0;}

	.main-title p {padding: 0;}
		
	.section-two h4,
	.section-three h4 {padding: 10px 30px;}

	.section-one,
	.section-two,
	.section-three {width: 33%;}
}



